<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles

  -->
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro|Pacifico|Oswald|Oxygen|Roboto' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="header">
  <% if session_logged_in? %>
  <div id="welcome">Welcome back, <%= session_current_user.first_name %>.</div>
    <a id="logout" href="/session/logout">Sign Out</a>
    <a href="/<%= session_current_user.username %>/distractions">Distractions</a>
    <a href="/<%= session_current_user.username %>/productivity">Productivity</a>
    <a href="/<%= session_current_user.username %>">Home</a>
  <% else %>

    <a href="/users/new">Register</a>
    <a href="/session/new">Sign In</a>
  </div>
    <% end %>

  <%= yield %>
</body>
</html>
